.setup-layout {
  border-radius: 12px;
  padding: 12px;
  // background-color: $primary-white;
}

.setup-sider {
  background-color: $primary-white !important;
  padding: 10px 0;
  box-shadow: #ccc 0 0 5px !important;
  border-radius: 10px;
  margin-right: 10px !important;
}

.setup-search {
  border: none !important;
  background-color: transparent !important;
}

// .ant-table-wrapper:only-child .ant-table {
//   margin-block: 0 !important;
//   margin-inline: 0 !important;
// }

// .cabinetsetup-breadcrumb {
//   padding-bottom: 7px;
//   display: flex;

//   .editable-title {
//     padding: 3px 7px;
//     white-space: nowrap;
//     overflow: hidden;
//     display: inline;
//     border: 1px dashed #ccc;

//     br {
//       display: none;
//     }

//     .anticon-edit {
//     }
//   }

//   .ant-breadcrumb-separator,
//   .ant-breadcrumb-link,
//   svg {
//     font-size: 14px;
//     font-weight: bold;
//   }
// }

// #subclassification {
//   width: 80%;
// }
