.authlayout__centerCol-signupform {
  .custom-formItem {
    margin-top: 20px;
    &:first-of-type {
      margin-top: 0;
    }
  }

  & .ant-form-item-label::before {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
  }
}
