{
  "printWidth": 80,
  "bracketSpacing": true,
  "singleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "semi": true,
  "bracketSameLine": false,
  "proseWrap": "always",
  "arrowParens": "always"
}
