.settings-date-picker {
  border-color: #1890ff !important;
}

.settings-range-picker {
  display: flex;
}

.range-picker-inner {
  border-width: 1px;
  border-color: #1890ff;
  border-style: dashed;

  &::before {
    border: none !important;
  }
}
.ant-picker-cell {
  position: relative;
}

.settings-range-picker-dropdown {
  & .ant-picker-cell-today > {
    & .range-picker-inner {
      border: none;

      &::before {
        border: 1px solid #1890ff !important;
      }
    }
  }
}

.range-picker-limit-date {
  border: 1px solid #1890ff !important;
}
