.molding-table-wrapper .ant-table .ant-table-tbody tr {
  td.ant-table-cell {
    &:nth-child(2) {
      .ant-select-selector {
        border-right: 1px solid #d9d9d9;
      }
    }

    &.centered {
      padding-left: 15px !important;
    }
  }
}

.roomspopover {
  padding: 12px;
  overflow-y: auto;

  ul {
    list-style-type: none;
  }

  .table-col-wrapper {
    overflow: scroll;
  }
}
