.preferredconstructionform {
  .ant-form-item-control-input-content {
    .ant-input-number {
      width: 100% !important;
    }
  }
}

.ant-typography.as-form-label-subtitle {
  font-style: italic !important;
}

#preferred-construction-img {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  svg {
    shape-rendering: geometricPrecision;
    min-height: 300px;
    width: 600px;
    display: block;
    z-index: 22;
  }
}
