// ::selection {
//   background-color: $primary-jig;
// }

*,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

html,
body {
  height: 100%;
  // background-color: $jig-background;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

#root {
  height: 100%;
}

//   &__maincontent {
//     background-color: $primary-white;
//     height: 100%;
//     padding: $content-padding;
//     border-radius: $content-border-radius;
//     margin-left: 15px;

//     &.nomargin {
//       margin: 0;
//     }
//   }
// }
// .ant-btn.jig-button {
//   border-radius: 4px;
//   text-transform: uppercase;
//   border: none !important;
//   box-shadow: inset 0 0 0 1px $primary-jig;
//   color: $primary-jig;
//   background-color: $primary-white;

//   &:hover {
//     box-shadow: inset 0 0 0 2px $primary-jig;
//   }

//   &:disabled {
//     background-color: $primary-white;
//     color: rgba(0, 0, 0, 0.25);
//     box-shadow: inset 0 0 0 2px $primary-jig;
//   }
// }
