$primary-jig: #6f64e7;
$primary-jig-fade: rgba(230, 57, 70, 0.5);
$jig-red: rgba(230, 57, 70, 1);
$off-white: #f7f9fc;
$jig-background: #f6f9f7;
$jig-label: rgba(125, 124, 131, 0.8);
$jig-link: rgba(0, 166, 251, 1);
$white: #ffffff;
$border-color: #cbd6e2;

$jig-header: #273167;

$primary-white: #ffffff;
$jig-washed: rgba(141, 150, 163, 0.48);
$jig-text: rgba(0, 0, 0, 0.65);
$primary-fade: #c0cacc;

$content-padding: 13px;
$content-boxshadow: hsl(0, 0%, 80%) 0 0 16px;
$content-boxshadow-minimal: hsl(0, 0%, 80%) 0 0 5px;
$content-border-radius: 4px;

$assetPath: "/assets/images";
