.jig-toolbar {
  width: 100%;
  padding: 25px 20px 7px 40px;
  position: relative;

  .ant-row {
    width: 100%;
  }

  .ant-breadcrumb-link,
  a,
  svg {
    font-size: 16px;
    font-weight: 400;
  }
}
