.item-listing-preset {
  margin-bottom: 10px;
}

.estimate-proposal-form {
  & .ant-form-item-label {
    margin-bottom: 5px !important;
    font-weight: 500;
    font-size: 14px;
    color: #000000d9;
  }
  & .print-popover .ant-popover {
    width: 40% !important;
  }
}
