.pagelayout__contenttoolbar {
  padding: 0;
}

.cabinetspecification {
  width: 1000px;
  margin: 0 auto;

  .part-block {
    background: #ffffff;
    box-shadow: $content-boxshadow-minimal;
    padding: 5px;
    margin-bottom: 5px;

    .ant-input-number-input {
      background-color: #ffffff !important;
    }
  }

  .label-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .ant-form-item-label label {
    width: 100%;

    .LabelHeader {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  label,
  .ant-form-item-control-input,
  .ant-form-item,
  .ant-form-item-control-input {
    height: auto !important;
    margin-bottom: 0 !important;
    min-height: auto !important;

    &.is-last {
      margin-bottom: 5px !important;
    }
  }

  .centered-item {
    width: 100%;
    padding: 0 10%;
    display: flex;
    align-items: center;

    .ant-form-item-label {
      width: 70%;
    }
  }

  .ant-input,
  .ant-input-number-input {
    height: 20px !important;
  }

  #board-img {
    display: block;
    height: 100%;
    width: 100%;

    svg {
      shape-rendering: geometricPrecision;
    }
  }
}
