.actions-icon {
  transition: color 0.3s;
  &:hover {
    color: $secondary-jig;
  }
}

// Name
.cabinets-table * {
  text-align: center;
}

.cabinets-table .ant-table-cell:nth-child(2) {
  text-align: start;
}

.specifications-table .ant-table-cell:nth-child(2) {
  text-align: center;
}

th.ant-table-cell {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
}

.type-tag {
  color: $secondary-jig;
}

.style-tag {
  color: $jig-red;
}

.type-tag,
.style-tag {
  text-transform: uppercase;
}

// .specification-footer {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   padding: 0 12px;
//   align-items: center;

//   .ant-form-item-control {
//     min-width: 100%;
//     width: 100%;
//   }

//   .ant-radio-group {
//     display: flex;
//     justify-content: space-between;
//   }
// }

// .right-text {
//   text-align: right;
// }

// .center-text {
//   text-align: center;
// }

// .cabinet-form {
//   .ant-divider-horizontal {
//     margin: 10px !important;
//   }

//   .ant-form-item-label label {
//     width: 100%;

//     .LabelHeader {
//       width: 100%;
//       display: flex;
//       justify-content: space-between;
//     }
//   }

//   label,
//   .ant-form-item-control-input,
//   .ant-form-item,
//   .ant-form-item-control-input {
//     height: auto !important;
//     margin-bottom: 0 !important;
//     min-height: auto !important;
//   }

//   .centered-item {
//     width: 100%;
//     padding: 0 10%;
//     display: flex;
//     align-items: center;

//     .ant-form-item-label {
//       width: 70%;
//     }
//   }

//   .ant-input,
//   .ant-input-number-input {
//     height: 20px !important;
//   }

//   .ant-input-number-disabled {
//     border: none;

//     .ant-input-number-input {
//       &:disabled {
//         background: $primary-white !important;

//         &:active,
//         &:focus {
//           border: none !important;
//           box-shadow: none !important;
//         }
//       }
//     }
//   }

//   .cabinet-table {
//     .ant-table-container {
//       border: none;
//     }
//   }
// }

// .cabinet-list-name-col {
//   position: relative;

//   .cabinet-dub-btn-wrapper {
//     position: absolute;
//     right: 0;

//     .cabinet-dub-btn {
//       display: none;
//     }
//   }

//   &:hover .cabinet-dub-btn {
//     display: inline-block;
//   }
// }

// #toe-platform-image {
//   height: 500px;
//   width: 100%;
//   background: #f0f3fd;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border: 1px dashed $primary-jig;
//   cursor: pointer;
// }

// .faceframe-wrapper {
//   display: flex;

//   .faceframe-left {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     max-height: 300px;
//   }

//   .face-frame-image {
//     height: 400px;
//   }
// }
